.mainContainer {
    display: flex;
    margin: 50px;
    height: auto;
}

.firstContainer {
    width: 50%;
    height: auto;
    align-items: center;
    margin: auto;
    padding: 50px 10px 50px 50px ;
}

.heading {
    font-weight: bold;
    font-size: 25px;
}

.mainContents {
    padding: 25px 100px 0 0;
    font-size: 18px;
}

.secondContainer {
    width: 50%;
}

.imageContainers {
    width: 80%;
}