.mainContainer {
    display: flex;
    margin: 50px;
    height: auto;
}

.firstContainer {
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
}

.heading {
    font-weight: bold;
    font-size: 25px;
}

.mainContents {
    padding-top: 25px;
    font-size: 18px;
}

.secondContainer {
    width: 50%;
}

.imageContainers {
    width: 80%;
    margin: 0 0 0 50px;
}

.innnerImageContainers {
    display: none;
}

@media all and (max-width: 1100px) {
    .secondContainer {
        width: 50%;
        margin: auto;
    }
    
    .heading {
        font-weight: bold;
        font-size: 20px;
    }

    .mainContents {
        padding-top: 15px;
        font-size: 16px;
    }
}

@media all and (max-width: 780px) {
    .heading {
        font-weight: bold;
        font-size: 20px;
    }

    .firstContainer {
        width: 100%;
    }

    .mainContents {
        font-size: 16px;
    }

    .imageContainers {
        display: none;
    }

    .mainContainer {
        display: block;
    }
}