.mainContainer {
    display: flex;
    margin: 50px;
    height: auto;
}

.firstContainer {
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
}

.heading {
    font-weight: bold;
    font-size: 25px;
}

.mainContents {
    padding-top: 25px;
    font-size: 18px;
}

.secondContainer {
    width: 50%;
}

.imageContainers {
    width: 80%;
    margin: 0 0 0 50px;
}

.innnerImageContainers {
    /* display: none; */
}

@media all and (max-width: 1100px) {
    .heading {
        font-weight: bold;
        font-size: 15px;
    }

    .mainContents {
        padding-top: 15px;
        font-size: 14px;
    }
}

@media all and (max-width: 800px) {
    .heading {
        font-weight: bold;
        font-size: 12px;
    }

    .mainContents {
        font-size: 10px;
        padding-top: 10px;
    }
}

@media all and (max-width: 580px) {
    .imageContainers {
        display: none;
    }

    .mainContainer {
        display: block;
    }
}