.imageContainer {
    background-image: url('../../Images/banner.png');
    width: 100%;
    height: auto;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.bannerContainer {
    width: 60%;
    padding: 100px;
}

.bannerHeading {
    color: #FFC300;
    font-weight: bold;
    font-size: 30px;
    font-family: serif;
}

.contentOne {
    font-weight: bold;
    font-size: 30px;
    padding-top: 40px;
}

.contentTwo {
    font-size: 35px;
    padding-top: 15px;
}

.contentTwo span {
    font-weight: bold;
    font-size: 45px;
    font-family: 'fangsong';
}

.mainContent {
    font-size: 20px;
    padding: 20px 20% 0 0;
    height: 100%;
}

@media all and (max-width: 1125px) {
    .imageContainer {
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../../Images/homeBannerResolution.webp');
    }

    .bannerContainer {
        padding: 15px 0 15px 15px;
        width: 95%;
    }

    .bannerHeading {
        color: #FFC300;
        font-weight: bold;
        font-size: 20px;
        font-family: serif;
    }

    .contentOne {
        font-weight: bold;
        font-size: 20px;
        padding-top: 30px;
    }

    .mainContent {
        overflow-x:hidden;
        overflow-y:auto;
    }
}